{% extends 'lessonDJ02/layout.html' %}

{% block title %}
    <title>Второй урок по Django</title>
{% endblock %}


{% block content %}
    <div class="container mt-5">
        <h1 class="text-center">Добро пожаловать на сайт {{caption}}!</h1>
        <p class="lead text-center">Мы рады приветствовать вас на нашем первом сайте, созданном с использованием Django.</p>
        <p>Этот проект был разработан с целью продемонстрировать возможности фреймворка Django и показать, как легко и удобно можно создавать веб-приложения.</p>
        <p>На нашем сайте вы найдете множество полезной информации о Django, а также примеры кода и учебные материалы, которые помогут вам начать работу с этим мощным инструментом.</p>
        <p>Мы стремимся сделать наш сайт максимально полезным и информативным для всех пользователей, независимо от их уровня подготовки.</p>
        <p>Вы сможете найти руководства по установке и настройке Django, примеры создания моделей и маршрутов, а также советы по оптимизации и безопасности ваших приложений.</p>
        <p>Наш сайт также включает в себя разделы для обсуждения и обмена опытом, где вы можете задать вопросы и получить ответы от других пользователей и экспертов.</p>
        <p>Мы постоянно обновляем наш контент, чтобы предоставить вам самую актуальную информацию и новейшие разработки в мире Django.</p>
        <p>Если у вас есть предложения или комментарии, пожалуйста, не стесняйтесь связаться с нами. Мы всегда рады обратной связи и готовы улучшать наш сайт для вас.</p>
        <p>Спасибо, что выбрали наш сайт в качестве источника информации о Django. Мы надеемся, что вы найдете здесь все, что вам нужно для успешного начала работы с этим фреймворком.</p>
        <p>Желаем вам удачи и успехов в ваших проектах на Django!</p>
        <h5>С уважением, команда сайта {{caption}}.</h5>
    </div>

{% endblock %}
